plotly
sphinx>=8.2
pydata-sphinx-theme
numpy
pandas
seaborn
scipy
pyyaml
markdown
matplotlib
pyppeteer
lxml
sphinx-panels
sphinx-autodoc2
myst-parser
git+https://github.com/brownsarahm/sphinxcontrib-mermaid@cdnupdate